#clientTable {
    display: flex;
    flex-direction: column;
}

#clientTable thead tr {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;

    height: 45px;
    color: #767676;
    font-family: 'Inter';
    font-size: 13px;
    background-color: #eff0f6;
    border-bottom: 1px solid #e6e6e6;
}

#clientTable tbody tr {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    align-items: center;
    height: 40px;
    color: #767676;
    font-family: 'Inter';
    font-size: 13px;
    border-bottom: 1px solid #e6e6e6;
}

#clientTable tbody tr td {
    padding-left: 5%;
}

#clientTable thead tr td {
    padding-left: 5%;
}

#clientTable a {
    background-color: transparent;
    border: none;
    padding-right: 15px;
    cursor: pointer;
}
    

#clientTable tbody tr td:nth-child(1),
#clientTable thead tr td:nth-child(1) {
    width: 45%; /* Largura da coluna 'Nome' */
}

#clientTable tbody tr td:nth-child(2),
#clientTable thead tr td:nth-child(2) {
    width: 45%; /* Largura da coluna endereco */
}


.new-client-link {
    position: sticky;
    left: 10px;
    bottom: 20px;
    height: fit-content;
    background-color: #0e0762;
    border: none;
    border-radius: 8px;
    padding: 10px;
    text-decoration: none;
    color: #d6d7e3;
    font-family: 'Inter';
    font-size: 13px;
}
