.main-content-header {
    display: flex;
    padding: 20px;
    background-color: #EFF0F6;
    font-family: "Inter";
    color: #767676;
    border-bottom: 1px solid #e6e6e6;
}

.main-content-header div {
    display: flex;
        gap: 10px;
}

.main-content-header span#debitIdEl {
    font-weight: 700;
}

.debit-info {
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 90vw;
    font-family: 'Inter';
    font-size: 13px;
    color: #0E0762;
}

#table-payments {
    width: -webkit-fill-available;
    border-collapse: collapse;
    border: 1px solid #767676;
}

#table-payments thead tr {
    width: -webkit-fill-available;
    background-color: #EFF0F6;
    font-family: "Inter";
    color: #767676;
    border-bottom: 1px solid #e6e6e6;
}

#table-payments td {
    padding: 8px;
}

.new-credit-link {
    position: absolute;
    left: 10px;
    bottom: 20px;
    height: fit-content;
    background-color: #0e0762;
    border: none;
    border-radius: 8px;
    padding: 10px;
    text-decoration: none;
    color: #d6d7e3;
    font-family: 'Inter';
    font-size: 13px;
}