.sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    height: 40px;
    background-color: #f1f1f3;
}

.sub-header span {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: #767676;
    font-weight: 700;
}

.sub-header a {
    text-decoration: none;
    padding: 10px;
    background-color: #0e0762;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}