.sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    height: 40px;
    background-color: #f1f1f3;
}

.sub-header span {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: #767676;
    font-weight: 700;
}

.sub-header a {
    text-decoration: none;
    padding: 10px;
    background-color: #0e0762;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.sub-header button {
    padding: 10px;
    background-color: #f26464;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    border: none;
    cursor: pointer;
}

.list-container {
    display: grid;
    padding: 20px;
    gap: 20px;
    grid-template-columns: repeat(8, 1fr);
}

.list-container .list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: "Inter";
    font-size: 13px;
}

.list-container .list-item:hover {
    background-color: #0e0762;
    color: white;
    transition: all ease-in-out 0.2;
}

.list-container .list-item img.item-image {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    align-self: center;
}

.list-container .list-item .item-info {
    display: flex;
    flex-direction: column;
}

.list-container .list-item .item-info div {
    display: flex;
    justify-content: space-between;
}

.list-container .list-item .item-info a {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 5px;
    border: none;
    background-color: #0e0762;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.edit-image-button {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;
    border: none;
    background-color: #0e0762;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    bottom: 55px;
    left: 245px;
}

.edit-image-button img {
    height: 15px;
}

#imageInput {
    display: none;
}

.list-container .list-item .item-info b {
    overflow-x: hidden;
    text-overflow: ellipsis;
    max-width: 135px;
    text-wrap: nowrap;
}

.list-container .list-item .item-info a img {
    height: 15px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 20px;
}

.form-container .form-wrapper {
    display: flex;
    padding: 0 10px;
    gap: 20px
}

.form-container .form-wrapper.spaced {
    justify-content: space-between;
    max-width: 270px;
}

.form-container .form-wrapper b {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 13px;
}

.form-container .form-wrapper div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-container .form-wrapper span:not(.slider):not(.tax-span) {
    padding: 8px;
    background-color: #ef9616;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    width: fit-content;
}

.form-container .form-wrapper input:not([type="checkbox"]) {
    height: 30px;
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    font-weight: 800;
    height: 40px;
    border-radius: 8px;
    border: solid 1px #f0f1f7;
    padding-left: 15px;
    color: #0e0762;
    min-width: 300px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 21px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #0E0762;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #0E0762;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.form-container .form-wrapper input[type="file"] {
    padding: 15px 15px 0 15px;
}

.form-container .form-wrapper input#name {
    width: 200%;
}

.form-container .form-wrapper select {
    height: 30px;
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    font-weight: 800;
    width: 200%;
    height: 40px;
    border-radius: 8px;
    border: solid 1px #f0f1f7;
    padding-left: 15px;
    color: #0e0762;
}

.form-container .form-wrapper select.day-select, .form-container .form-wrapper input[type="time"] {
    width: 320px;
}

.form-container .form-wrapper textarea {
    height: 30px;
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    font-weight: 800;
    width: 200%;
    height: 40px;
    border-radius: 8px;
    border: solid 1px #f0f1f7;
    padding-left: 15px;
    color: #0e0762;
}

.form-container .form-wrapper img {
    width: 300px;
    max-width: 300px;
    border-radius: 20px;
}

.tax-list .tax-item {
    border: 1px solid #DDDDDD;
    padding: 5px 10px 5px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    min-width: 270px;
    align-items: center;
}

.tax-list .tax-item span {
    font-family: "Inter";
    font-size: 12px;
    color: #0e0762;
    font-weight: bold;
}

.tax-list .tax-item button {
    border: none;
    padding: 10px;
    border-radius: 50%;
    width: 35px;
    background-color: #f26464;
    color: #FFFFFF;
    cursor: pointer;
}

.tax-list .tax-item button:active {
    background-color: #f48282;
}

.submit-options {
    padding: 30px 10px;
}

.submit-options button {
    padding: 10px 20px;
    background-color: #0e0762;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    border: none;
}

.create-tax-container, .tax-warning-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width: -webkit-fill-available;
    height: 100vh;
    background-color: #7676768d;

    position: absolute;
    top: 0;
    z-index: 10;
}

.create-tax-wrapper, .tax-warning-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    background-color: #0e0762;
    padding: 30px;
    border-radius: 8px;
    font-family: 'Inter';
    color: #ffffff;
    text-align: center;
    z-index: 12;
}

.create-tax-wrapper button, .tax-warning-wrapper button {
    height: 40px;
    width: 150px;
    align-self: center;
    border: none;
    border-radius: 8px;
    font-family: 'Inter';
    font-size: 12px;
    background-color: #ffffff;
    color: #0c054e;
}
.create-tax-wrapper input {
    height: 30px;
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    font-weight: 800;
    height: 30px;
    border-radius: 8px;
    padding-left: 15px;
    border: solid 1px #f0f1f7;
    color: #0e0762;
}

.create-tax-wrapper b {
    font-family: "Inter";
}

.hidden {
    display: none !important;
}

.blurred-bg {
    background-color: #7676768d;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 10;
}

@media (max-width: 860px) {
    .list-container  {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 460px) {
    .list-container  {
        grid-template-columns: repeat(2, 1fr);
    }

    .form-container .form-wrapper:not(.spaced) {
        flex-direction: column;
    }
}