.sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    height: 40px;
    background-color: #f1f1f3;
}

.sub-header span {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: #767676;
    font-weight: 700;
}

.sub-header a {
    text-decoration: none;
    padding: 10px;
    background-color: #0e0762;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.list-container {
    display: grid;
    padding: 20px;
    gap: 20px;
    grid-template-columns: repeat(8, 1fr);
}

.list-container .list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: "Inter";
    font-size: 13px;
}

.list-container .list-item:hover {
    background-color: #0e0762;
    color: white;
    transition: all ease-in-out 0.2;
}

.list-container .list-item img.item-image {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    align-self: center;
}

.list-container .list-item .item-info {
    display: flex;
    flex-direction: column;
}

.list-container .list-item .item-info div {
    display: flex;
    justify-content: space-between;
}

.list-container .list-item .item-info button {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;
    border: none;
    background-color: #0e0762;
}

.list-container .list-item .item-info button img {
    height: 15px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 20px;
}

.form-container .form-wrapper {
    display: flex;
    padding: 0 10px;
    gap: 20px
}

.form-container .form-wrapper div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-container .form-wrapper span {
    padding: 8px;
    background-color: #ef9616;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    width: fit-content;
}

.form-container .form-wrapper input {
    height: 30px;
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    font-weight: 800;
    height: 40px;
    border-radius: 8px;
    border: solid 1px #f0f1f7;
    padding-left: 15px;
    color: #0e0762;
}

.form-container .form-wrapper input[type="file"] {
    padding: 15px 15px 0 15px;
}

.form-container .form-wrapper input#name {
    width: 200%;
}

.form-container .form-wrapper select {
    height: 30px;
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    font-weight: 800;
    width: 200%;
    height: 40px;
    border-radius: 8px;
    border: solid 1px #f0f1f7;
    padding-left: 15px;
    color: #0e0762;
}

.form-container .form-wrapper textarea {
    height: 30px;
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    font-weight: 800;
    width: 200%;
    height: 40px;
    border-radius: 8px;
    border: solid 1px #f0f1f7;
    padding-left: 15px;
    color: #0e0762;
}

.form-container .form-wrapper img {
    max-width: 300px;
    border-radius: 20px;
}

.submit-options {
    padding: 30px 10px;
}

.submit-options button {
    padding: 10px 20px;
    background-color: #0e0762;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    border: none;
}

@media (max-width: 860px) {
    .list-container  {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 460px) {
    .list-container  {
        grid-template-columns: repeat(2, 1fr);
    }
}